.result-tile{
    background-color:#1dcaff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:2px;
    width:200px;
    margin-left: 50px;
    position: relative;
}

.close-button{
    position: absolute;
    margin-left: 60px;
    margin-top: 3px;
}

.result-tiles-div{
    margin-top:10px;
}

.icon-span{
    padding:10px;
}